APP_NAME="Zeta"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/alltasksof_vcc/v2.0/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_consultation_v2
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

PAYMENT_PROVIDER=midtrans
PAYMENT_MODE=sandbox
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_NOTIFICATION_URL=
MIDTRANS_FINISH_REDIRECT_URL=
MIDTRANS_UNFINISH_REDIRECT_URL=
MIDTRANS_ERROR_REDIRECT_URL=
